{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
<div class="container">
<form class="form-signin span8" id="registerform" method="post" enctype="multipart/form-data">
{% csrf_token %}
<h2 class="form-signin-heading">Register</h2>
{{ registerform.as_p}}
<!-- Provide a button to click to submit the form. -->                                                                  
<a href="license.html"><input class="btn btn-success" type="button" name="goto" value="Go to License Agreement" /></a>
</form>
</div>
</div>
{% endblock %}
