{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit"> 
    <div class="container">
        <form class="form-signin span8" id="loginform" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Login</h2>
             {{ loginform.as_p}}      
             <!-- Provide a button to click to submit the form. -->
             <input class="btn btn-primary" type="submit" name="submit" value="Login" />

        </form>
     </div>
</div>
{% endblock %}

