{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
        ga('send', 'pageview');
</script>      

<div class="hero-unit">
    <div class="table-responsive">
        <h2 class="form-signin-heading">Add Ingredient</h2>
        <h3> Select benefit rate for the ingredient</h3>
            <input type="button" class="btn btn-success" name="goto2" value="Back to Add Ingredient" onclick="goback();" />
            <input class="btn btn-primary" type="submit"  name="save" value="Select rate" onclick="selectrate();">
            <table class="table table-condensed">
                <thead>
                    <th></th>
                    <th>Sector</th>
                    <th>Personnel</th>
                    <th>Year Benefit</th>
                    <th>Benefit Rate</th>
                    <th>Source</th>
                    <th>Permission Details</th>
                    {% for ben in allbenefits %}
                        <tr onmouseover="javascript:style.background='#dcfac9'" onmouseout="javascript:style.background='#DCDCDC'" bgcolor="#DCDCDC">
                            <td><input type="checkbox" id="{{ben.id}}" value="unchecked" onclick="setId(this);"  style="margin-left:auto; margin-right:auto;"></td>
                            <td>{{ben.SectorBenefit}}</td>
                            <td>{{ben.PersonnelBenefit}}</td>
                            <td>{{ben.YearBenefit}}</td>
                            <td>{{ben.BenefitRate}}</td>
                            <td>{{ben.SourceBenefitData}}</td>
                            <td>{{ben.permissionDetails}}</td>
                        </tr>
                    {% endfor %}
                   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                   <script type="text/javascript">
                       var passvar = 000;
                       function setId(chkBox){
                          var inputs = document.getElementsByTagName("input");
                          for (i = 0; i<inputs.length; i++ ) {
                             if (inputs[i].type == 'checkbox'){
                                if (inputs[i].id != chkBox.id) {
                                   inputs[i].checked = false;
                                }
                                else { inputs[i].checked = true;}
                             }
                          }
                          passvar = chkBox.id;
                       }
                       
                       function selectrate () {
                          if (passvar == 000){
                             alert('Select a Benefit Rate');}
                          else {
                             ben_id = passvar; 
                             document.location.href = "/project/programs/costs/"+ben_id+"/save_benefit.html";}
                       }

                       function goback() {
                          document.location.href = "/project/programs/costs/"+{{price_id}}+"/price_benefits.html";
                       }

                   </script>
               </thead>
            </table>
    </div>
</div>
{% endblock %}

