{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<style TYPE="text/css">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
-webkit-appearance: none;
margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
 }
</style>

<div class="hero-unit">
    <div class="container" style="color: blue">
        <h4>Project Name:  {{projectname}}</h4>                                                                                       
        <h4>Program Name:  {{programname}}</h4>                                                                                     
    </div>    
    <div class="container">
             <form class="form-signin span8" id="form" method="post"  enctype="multipart/form-data">
             {% csrf_token %}
             <h2 class="form-signin-heading">Add ingredient</h2>
             Use unit measure converter to adjust unit of measure for {{price.category}} ingredient {{price.ingredient}}, if needed.
             <br />
             Amortize assets indicating lifetime of the asset and interest rate if needed.
             <br /><br />
             
             <table class="table table-condensed">
                <tr> Unit of Measure: <input type="text" id="measure" readonly></tr><br />
                <tr> Price per unit: <input type="text" id="price" readonly> </tr><br /><br />
                <div id="umc"> If you want to convert your price per unit to a different unit:
                    <br /> <input type="button" class="btn btn-warning" name="goto3"  value="Unit Measure Converter" onclick="unitmeasure();"/> <br /><br /></div>
                {{ form.non_field_errors }}
                {{ form.errors }}
                <tr> Lifetime of the asset:  {{form.lifetimeAsset}} </tr><br />
                <tr> Interest rate (input a number from 0 to 100): {{form.interestRate}} </tr><br />
                <br /> Price details: <br />
                <tr>  {{price.statePrice}}  {{price.areaPrice}} </tr><br />
                <tr> Year of listed price: {{price.yearPrice}} </tr><br />
                <tr> Source: {{price.sourcePriceData}} </tr><br />
             </table> 
             <input type="button" class="btn btn-success" name="goto2" value="<< Back" onclick="back();"/>
             <input type="submit" class="btn btn-success"  name="goto" value="Next >>" onclick="Pass();" />
             <input class="btn btn-success" type="button" name="cancel" value="Back to Cost Information Table" onclick="cancelout();"/>
             </form>
           <script type="text/javascript">

             if ({{new_price}} != 0){
                document.getElementById('price').value = {{new_price}};
                document.getElementById('measure').value = '{{new_measure}}';
             }
             else {
                document.getElementById('price').value = {{price.price}};
                document.getElementById('measure').value = '{{price.unitMeasurePrice}}';
             }
             x = document.getElementById('measure').value;
             if (x == 'Other')
             {
               document.getElementById("umc").style.display="none";
             }    
             function cancelout() {
                document.location.href = "/project/programs/effect/"+ {{project_id}} +"/"+ {{program_id}} +"/tabbedview.html?activeform=costform";
             }

             function back(){
                document.location.href ="/project/programs/costs/price_search_results.html?category=" + '{{cat}}' + "&edLevel=" + '{{edLevel}}' + "&sector=" + '{{sector}}' + "&ingredient=" + '{{ingredient}}' + "&search=Search";
             }

             function Pass(){
                document.location.href = "/project/programs/costs/summary.html";
             }   

             function unitmeasure(){
                 document.location.href ="/project/programs/costs/umconverter.html";
             }
           </script>
    </div>
</div>
{% endblock %}


