{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
        ga('send', 'pageview');
</script>      

<div class="hero-unit">
    <div class="container">
             <h2 class="form-signin-heading">Wage Converter</h2>
             Convert wages to other units: hours, days, weeks, calendar year and academic year.
             <form class="form-signin span8" id="form" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 <br />
                 Wage: {{price}} USD per {{measure}} <br /><br />
                 Convert to  {{ form.newMeasure }}
                 <a href="/project/programs/costs/wage_converter.html"><input type="submit" class="btn btn-danger" name="compute" value="Compute"/></a> <br />
                 Converted value:
                 {{ form.convertedPrice }}

                 <br /> <br />
                 Specification for calendar and academic year
                 <br />
                 Number of hours in the calendar year: {{hrsCalendarYr}}
                 <br />
                 Number of hours in the K-12 academic year: {{hrsAcademicYr}}
                 <br />
                 Number of hours in the higher ed. academic year: {{hrsHigherEdn}}
                 <br />
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
              <script type="text/javascript">
              function cancelout() {
                 document.location.href = "/project/programs/costs/"+'{{price_id}}'+"/price_indices.html";
              }

              function cancelout2() {
                 document.location.href = "/project/programs/costs/wage_defaults.html";
              }
              </script>
             <input type="button" class="btn btn-warning" name="goto" value="Change default number of hours per year" onclick="cancelout2();"/><br /><br />
             <input class="btn btn-primary" type="submit" name="use" value="Use converted value"/>
             <!--<input class="btn btn-success" type="button" name="cancel" value="Back to Add ingredient" onclick="cancelout();"/>-->
             </form>
    </div>
</div>
{% endblock %}


