{% extends 'index.html' %}
{% load static %}
{% block body_block %}
 <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
  ga('send', 'pageview');
</script>
<div class="hero-unit">                                                                                                                  
    <h4> Additional Resources</h4> <br>
    <h5><li> <a href="Average Size of Educational Facilities.xlsx" onClick="ga('send', 'event', 'Average Size of Educational Facilities.xlsx', 'Download', 'Average Size of Educational Facilities.xlsx', 10);">Average Size of Educational Facilities</a></h5> 
    <h5><li> <a href="Calculating Cost Differences Between Programs.pdf" onClick="ga('send', 'event', 'Calculating Cost Differences Between Programs.pdf', 'Download', 'Calculating Cost Differences Between Programs.pdf', 10);">Calculating Cost Differences Between Programs</a></h5>
    <h5><li> <a href="CostOut Feedback Form.docx" onClick="ga('send', 'event', 'CostOut Feedback Form.docx', 'Download', 'CostOut Feedback Form.docx', 10);"><i>CostOut</i> Feedback Form</a></h5>
    <h5><li> <a href="Database of Benefits Rates.xls" onClick="ga('send', 'event', 'Database of Benefits Rates.xls', 'Download', 'Database of Benefits Rates.xls', 10);">Database of Benefits Rates</a></h5>
    <h5><li> <a href="Example Interview Protocol.pdf" onClick="ga('send', 'event', 'Example Interview Protocol.pdf', 'Download', 'Example Interview Protocol.pdf', 10);">Example Interview Protocol</a></h5>
    <h5><li> <a href="Finding National Prices.pdf" onClick="ga('send', 'event', 'Finding National Prices.pdf', 'Download', 'Finding National Prices.pdf', 10);">Finding National Prices</a></h5> 
    <h5><li> <a href="Formulas used in CostOut.pdf" onClick="ga('send', 'event', 'Formulas used in CostOut.pdf', 'Download', 'Formulas used in CostOut.pdf', 10);">Formulas used in <i>CostOut</i></a></h5>
    <h5><li> <a href="Sources of Prices and Benefits.pdf" onClick="ga('send', 'event', 'Sources of Prices and Benefits.pdf', 'Download', 'Sources of Prices and Benefits.pdf', 10);">Sources of Prices and Benefits</a></h5>
</div>
{% endblock %}
