<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/font.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <title>CBCSE Cost Tool Kit</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <h4 style="color:lightskyblue">CBCSE Cost Tool Kit © (Under Construction)</h4>
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     <div class="nav-collapse collapse">
                         <ul class="nav pull-left">
                             <h5><b><font color="lightskyblue">Cost Tool Kit Manual</font></h5>
                         </ul>
                         <ul class="nav pull-right">
                             <li> <a href="/"><b><font color="lightskyblue">Home</font></b></a> 
                             <!--<li> <a href="/prices/imports.html"><b><font color="lightskyblue"> Imports</font></b></a></li>-->
                             <li> <a href="/project/project_list.html"><b><font color="lightskyblue"> Project List</font></b></a></li>
                             <li> <a href="/prices/prices.html"><b><font color="lightskyblue">Prices</font></b></a></li>
                             <li> <a href="/about.html"><b><font color="lightskyblue">Log out</font></b></a></li>
                             <a href="about.html"></a>
                         </ul>
                     </div>
           <!--/.nav-collapse -->
           </div>
        </div>
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
	</div>
    <!--/.fluid-container-->
    <footer>
        <div class="container" align="center">
             {% block footer_block %}
             {% endblock %}
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
     </body>
    </html>

