{% extends 'index.html' %}
{% load static %}
{% block body_block %}
 <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
      ga('send', 'pageview');
 </script>
<div class="hero-unit">
    <i>CostOut</i> provides indices to adjust the year of listed price to the year in which you want to express costs. You can edit these indices. Even if you do not ever change the inflation indices, we advise that, at least once per year, you click the “Edit Inflation Indices” button and then the “Restore default inflation indices” button.  This will ensure you have the latest year’s inflation index that we have stored.
     <br />
     <br />
     <a href="inflation.html"><input class="btn btn-primary" type="button" name="goto" value="Edit inflation indices"></a>
     <br />
     <br />

     <i>CostOut</i> also provides indices to adjust the listed price to the geographical location for which you want to express costs. You can edit these indices.
     <br />
     <br />
     <a href="geo.html"><input class="btn btn-primary" type="button" name="goto2" value="Edit geographical indices"></a>
     <br />
     <br />
     <input class="btn btn-success" type="button" name="cancel" value="Back to Settings" onclick="gotofunc()"/>
       <script type="text/javascript">
         function gotofunc(){
            document.location.href = "/project/"+ {{project_id}} +"/add_settings.html";
         }
       </script>

</div>
{% endblock %}

