{% extends 'index.html' %}
{% load static %}
{% block body_block %}

 <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
      ga('send', 'pageview');
</script>
<style TYPE="text/css">
.error input, .error select {
        border: 2px red solid;
}
</style>
<div class="hero-unit">
    <div class="container">
             <form class="form-signin span8" id="pricesform" method="post" action="/prices/add_price.html" enctype="multipart/form-data">
             {% csrf_token %}
             <h3 class="form-signin-heading">Add Price</h3>
             <b><font color="red">{{ form_errors }} </font></b>
             {{ pricesform.as_p }}
             <br />

             <!-- Provide a button to click to submit the form. -->
             <input class="btn btn-primary" type="submit" name="submit" value="Save" />
             <input class="btn btn-success"  value="Back to MyPrices" type="button" name="cancel" onclick="cancelout2();"/>
             </form>
             <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
             <script type="text/javascript">
             $('form').submit(function(){
             $(':submit', this).click(function() {
                return false;
              });
             });

             function cancelout2() {
                 document.location.href = "/prices/my_price_list.html";
              }
             </script>

      </div>
</div>
{% endblock %}

