{% extends 'index.html' %}
{% load static %}
{% block body_block %}
 <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){                                                           
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70024304-1', 'auto');
      ga('send', 'pageview');
</script>
<div class="hero-unit">
     <h3> Imports </h3>
     <br />
     <a href="/prices/import_excel.html"><input class="btn btn-warning" type="button" name="goto1" value="Import Prices Database"></a>
     <a href="/prices/import_geo.html"><input class="btn btn-warning" type="button" name="goto2" value="Import Geographical Indices"></a>
     <a href="/prices/import_inf.html"><input class="btn btn-warning" type="button" name="goto3" value="Import Inflation Indices"></a>
     <a href="/prices/import_benefits.html"><input class="btn btn-warning" type="button" name="goto4" value="Import Benefits"></a>
     <br />
     <br />
     <a href="/admin/upload.html"> <input type="button" class="btn btn-success" name="goto3" value=">> Back" /></a>
</div>
{% endblock %}

