{% extends 'index.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
     <h3> Prices </h3>
     The CBCSE Database of Educational Resource Prices is a list of personnel, facilities, materials and equipment items commonly required to implement educational programs. CBCSE has compiled national average prices for each of these items or "ingredients" from a variety of publicly available surveys and websites. For more information click on CBCSE Database Information. You may use prices from this list or create your own database by clicking on MyPrices Database.  
     <br />
     <br />
     <a href="price_list.html"><input class="btn btn-primary" type="button" name="goto" value="CBCSE Database of Educational Resource Prices"></a>
     <br />
     <br />
     If you want to set up and store your own prices to use for your cost analysis, click MyPrices Database. These prices will not be available to anyone else.
     <br />
     <br />
     <a href="my_price_list.html"><input class="btn btn-primary" type="button" name="goto2" value="MyPrices Database"></a>
     <br />
     <br />
     <a href="/project/project_list.html"> <input type="button" class="btn btn-success" name="goto3" value="Project List" /></a>
</div>
{% endblock %}

