{% extends 'index.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">                                                                                                                 
    <h5><li> <a href="/admin/contact.html">Change Contact Information</a></h5>
    <h5><li> <a href="/admin/upload.html">Upload files</a></h5>
    <h5><li> <a href="/admin/videos.html">Upload Video Links</a></h5>
    <h5><li> <a href="/admin/userreports.html">User Information reports</a></h5>
    <h5><li> <a href="/admin/tech.html">Technical Instructions</a></h5>
</div>
{% endblock %}
