{% extends 'index.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">                                                                                                                 
    <h5><li> <a href="/reports/cumulreg.html">Cumulative Registration Report</a></h5>
    <h5><li> <a href="/reports/noofreg.html">Number of registrations Report</a></h5>
    <h5><li> <a href="/reports/users_table.html">Table about Users Information</a></h5>
    <h5><li> <a href="/reports/proj_table.html">Table about Projects Information</a></h5>
</div>
{% endblock %}
